<h2>signing up for a new account</h2>
<form method="post" action="/users/create">
	Profile Name:<input type="text" placeholder="your name please?" name="user[profile_name]"><br>
	Email:<input type="text" placeholder="a valid email address please?" name="user[email]"><br>
	password:<input type="password" placeholder="at least 6..20 characters" name="user[password]"><br>
	confirm your password:<input type="password" placeholder="must be the same as above" name="user[password_confirmation]"><br>
	<input type="submit" value="give me an account!">
</form>
<%= @error if @error %>